body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    justify-content: center;
}

h1,
h2 {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 20px;
}

.board div {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.cell[player="none"]:hover {
    background-color: #D5F5E3;
    cursor: pointer;
}

.cell[player="P1"] {
    color: #3498DB
}

.cell[player="P2"] {
    color: #E67E22
}

/* .cell[player="P1"]:hover,
.cell[player="P2"]:hover {
    background-color: #FADBD8;
} */